/* general */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('Fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}

:root {
    --color1 : rgb(248, 33, 58);
    --color2 : rgb(170, 13, 13);
    --font1 : 'Bowlby One';
    --font2 : 'SourceSansPro-SemiBold';

    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #484848
}

h1, h2, h3 {
    font-family: var(--font1);
    font-weight: 200 ;
    color: var(--color1);
}

h1 {
    font-size: 2.8rem;
}

h4 {
    font-weight: 300;
    color: rgb(63, 63, 63);
}

.btn-primary {
    background-color: var(--color1);
    border: none;
    height: 40px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(215, 64, 9);
}

/* add-flight */

#add-flight-select {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    min-width: 100%;
    height: 40px;
    color: grey;
}

/* navbar */

.navbar-DonkeyAir {
    background-color: var(--color1);
    padding-left: 4.5%;
    padding-right: 4.5%;
}

.navbar-DonkeyAir .navbar-brand {
    font-family: var(--font2);
    font-weight: 900;
    font-size: 1.1rem;
    opacity: 70%;;
}

.welcome-nav-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-height: 32px;
    padding-left: 10px;
}

.cart {
    position: absolute;
    top: 6px;
    right: 2%;
    display: flex;
    flex-direction: row;
}

.circle {
    position: relative;
    right: -5px;
    border-radius: 40px;
    width: 0.9rem;
    height: 0.9rem;
    box-sizing: border-box;
    background-color: white;
    opacity: 65%;
    color: var(--color1);
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index */

.bg-grey-light {
    background-color: rgb(225, 225, 225);
}

.index-search {
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 40%;
    height: 40px;
    margin: 1%;
}

.index-search-date {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 40px;
    margin: 1%;
    width: 40%;
}

.index-search-form {
    display: flex;
    justify-content: center;
}

.index-search::placeholder, .index-search-date::placeholder {
    color: grey;
}

input[type="date"] {
    padding: 15px;
    color: grey;
}


::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.index-select {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    width: 40%;
    height: 40px;
    margin: 1%;
    color: grey;
}

/* index-search-results.php */

.each-search-result {
    border: 5px, solid, grey;
}

.each-search-result:hover {
    background-color: rgb(245, 245, 245);
}

.hours-search-results {
    font-weight: 800;
    font-size: 1.2rem;;
}

.search-results-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destination-search-result {
    color: var(--color1);
    font-weight: 600;
}

/* connection-user.php */

.connection-field {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 40px;
}

/* reservation-validation */

.reservation-fields {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 40px;
    width: 80%;
}

.form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-form-reservations-info {
    border: solid 1px rgb(176, 176, 176); 
    border-radius: 5px;   
    width: 50%;
}
/* reservations */

.title-reservations-1 {
    font-size: 1.75rem;
}

.title-reservations-2 {
    font-size: 2rem;
}

.detail-reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */

.text-footer-DonkeyAir {
    font-family: var(--font1);
    font-weight: 100;
    color: rgb(200, 200, 200);
}

/* calendar */

.calendar {
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/* RESPONSIVE */

@media screen and (max-width:767px){
    .cart {
        position:initial;
    }

    .circle {
        right: -3px;
    }
}

@media screen and (max-width:470px){
    .index-search-form {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .index-select {
        min-width: 80%;
    }
    
    .index-search-date {
        width: 80%;
    }

    h1 {
        font-size: 2rem;
    }

    .w-75{
        width: 95% !important;
    }

    .w-50{
        width: 95% !important;
    }

    .card-flight {
        flex-direction: column !important;
        align-items: center;
    }

    .card-flight-2 {
        align-items: center;
    }
}
