/* general */

:root {
    --color1 : rgb(255, 94, 36);
    --color2 : rgb(170, 13, 13);
    --font1 : 'Bowlby One';
}

h1, h2, h3 {
    font-family: var(--font1);
    font-weight: 200 ;
    color: var(--color1);
}

h1 {
    font-size: 2.8rem;
}

h4 {
    font-weight: 300;
    color: rgb(63, 63, 63);
}

.btn-primary {
    background-color: var(--color1);
    border: none;
    height: 40px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(215, 64, 9);
}

/* add-flight */

#add-flight-select {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    min-width: 100%;
    height: 40px;
    color: grey;
}

/* navbar */

.navbar-DonkeyAir {
    background-color: var(--color1);
    padding-left: 4.5%;
}

.navbar-DonkeyAir .navbar-brand {
    font-family: var(--font1);
    font-size: 1.1rem;
    opacity: 70%;;
}

.welcome-nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 32px;
    padding-left: 10px;
}

/* index */

.bg-grey-light {
    background-color: rgb(225, 225, 225);
}

.index-search {
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
    height: 40px;
    margin: 1%;
}

.index-search-date {
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 15%;
    height: 40px;
    margin: 1%;
}

.index-search::placeholder, .index-search-date::placeholder {
    color: grey;
}

input[type="date"] {
    padding: 15px;
    color: grey;
}


::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

#index-select {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    width: 25%;
    height: 40px;
    margin: 1%;
    color: grey;
}

/* index-search-results.php */

.each-search-result {
    border: 5px, solid, grey;
}

.each-search-result:hover {
    background-color: rgb(245, 245, 245);
}

.hours-search-results {
    font-weight: 800;
    font-size: 1.2rem;;
}

.search-results-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.destination-search-result {
    color: var(--color1);
    font-weight: 600;
}

/* connection-user.php */

.connection-field {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 40px;
}

/* reservation-validation */

.reservation-fields {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 40px;
    width: 80%;
}

.form-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-form-reservations-info {
    border: solid 1px rgb(176, 176, 176); 
    border-radius: 5px;   
    width: 50%;
}
/* reservations */

.title-reservations-1 {
    font-size: 1.75rem;
}

.title-reservations-2 {
    font-size: 2rem;
}

.detail-reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* footer */

.text-footer-DonkeyAir {
    font-family: var(--font1);
    font-weight: 100;
    color: rgb(200, 200, 200);
}

